.container {
    padding: 1%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "boardgameData"
        "valorations"
        "recomendations";
}

.container-boardgameData {
    grid-area: boardgameData;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.container-imageDescription {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 2%;

}

.container-data {
    display: flex;
    flex-direction: column;
    padding: 1%;
    min-width: 30%;
}

.data-title {
    display: flex;
    justify-content: center;
}

.data-information {
    display: flex;
    flex-direction: column;
    background-color: var(--color-firstSecondary);
    border-radius: 7px;
    padding: 2%;
    margin-top: 8%;
}

.information-element {
    border-bottom: 2px solid var(--color-main)
}

.valorationMedia{
    display: flex;
    gap: 10px;
}

.stars{
    display: flex;
}

.data-share {
    display: flex;
    align-items: center;
    gap: 10px;
}

.data-detail {
    display: flex;
    align-items: center;
    gap: 10px;
}

.video-tutorial {
    display: flex;
    flex-direction: column;
    position: relative;
}

.play-overlay {
    position: absolute;
    top: 58%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 80%;
}

.image-youtube {
    width: 95%;
}

.container-valorations {
    grid-area: valorations;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 9%;
    padding-right: 9%;
}

.container-recomendations {
    grid-area: recomendations;
    display: flex;
    flex-direction: column;
    padding-left: 9%;
    padding-right: 9%;
}

.recomendation-list {
    display: grid;
    padding: 1%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
}

.recomendation-boardgame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardgame-image {
    display: block;
    width: 50%;
}

.btn-style {
    border-radius: 3px;
    height: 30px;
    background-color: var(--color-tertiary);
    color: var(--color-main);
    border: none;
    cursor: pointer;
}