:root {
  --color-subtitle: rgb(98, 58, 65);
}

.font-title {
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
  font-style: normal;
}

h1 {
  font-family: "Rozha One", serif;
  font-size: 30px;
  gap: 0;
  margin-bottom: 0.2rem;
  color: var(--color-tertiary);
}

h2 {
  font-family: "Rozha One", serif;
  color: var(--color-tertiary);
  font-size: 30px;
}

h3,
h4 {
  font-family: "Rozha One", serif;
  color: var(--color-tertiary);
  font-size: 1.2em;
}

h6 {
  font-family: "Rozha One", serif;
  color: var(--color-subtitle);
  font-size: 20px;
  margin: 1%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 1px;
  color: var(--color-tertiary);
}

button {
  font-size: 14px;
}

@media (min-width: 769px) and (max-width: 1024px) {

  h1 {
    font-size: 28px;
    margin-bottom: 0.3rem;
  }

  h2 {
    font-size: 26px;
  }

  h3,
  h4 {
    font-size: 1.3em;
  }

  h6 {
    font-size: 18px;
    margin: 0.8%;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
  }

  .font-title {
    font-size: 18px;
  }

  button {
    font-size: 15px;
    padding: 0.8% 1.5%;
  }
}

@media (max-width: 768px) {

  h1 {
    font-family: "Rozha One", serif;
    font-size: 25px;
    gap: 0;
    margin-bottom: 0.2rem;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 13px;
  }
}