:root {
    --color-main: rgb(255, 234, 216);
    --color-firstSecondary: rgb(232, 152, 138);
    --color-secondSecondary: #9c3f88;
    --color-tertiary: #2a1458;
}

body {
    background-color: rgba(255, 234, 216, 0.8);
    padding-top: 100px;
    /*Añadido despues de colocar que el header esta fijo. Para separar y que no este todo pegado*/
    /*background-image: url('../images/background_image.jpg');
    background-size: 30% auto;
    background-repeat: repeat;
    background-position: center;
    background-blend-mode: multiply;*/
}

.header-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-firstSecondary);
    z-index: 1000;
    display: flex;
    padding: 1%;
    align-items: center;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.headerMenu-left {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
}

.header-image {
    display: flex;
    justify-content: center;
    width: 60%;
}

.headerMenu-right {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 50%;
}

.search-hobbie {
    padding: 6px 10px;
    border-radius: 8px;
    border: none;
}

table {
    margin-bottom: 10px;
    border-collapse: separate;
    border-spacing: 8px 4px;
    color: var(--color-main);
    border: 2px solid var(--color-main);
    gap: 10px;
}

table th {
    background-color: var(--color-main);
    border-right: 2px solid var(--color-firstSecondary);
    text-align: center;
    vertical-align: middle;
}

table td {
    padding: 5px 10px;
    text-align: center;
    vertical-align: middle;
}

table td:first-child {
    background-color: var(--color-firstSecondary);
    text-align: center;
    vertical-align: middle;
}

.footer-area {
    background-color: var(--color-firstSecondary);
    color: var(--color-main);
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    padding: 0;
}

.field {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
}

.btn-submit {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    background-color: #e8988a;
    cursor: pointer;
}

.image-socialMedia {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
}

.socialMedia-btn {
    display: inline-block;
    margin: 0;
    padding: 0;
}