:root {
  --color-subtitle: rgb(98, 58, 65);
}

.font-title {
  font-family: "Fredoka", sans-serif;
  font-size: 17px;
  font-style: normal;
}

h1 {
  font-family: "Rozha One", serif;
  font-size: 30px;
  gap: 0;
  margin-bottom: 0.2rem;
}

h2{
  font-family: "Rozha One", serif;
    color: var(--color-tertiary);
    font-size: 30px;
}

h3,
h4 {
  font-family: "Rozha One", serif;
  color: var(--color-tertiary);
  margin-bottom: 1rem;
  font-size: 1.2em;
}

h6 {
  font-family: "Rozha One", serif;
  color: var(--color-subtitle);
  font-size: 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  margin: 1px;
  color: var(--color-tertiary);
}

button {
  font-size: 14px;
}

@media (max-width: 768px) {

  h1 {
    font-family: "Rozha One", serif;
    font-size: 25px;
    gap: 0;
    margin-bottom: 0.2rem;
  }

  p {
    font-size: 15px;
  }
}